<div class="container pt-4"></div>
<nav class="d-flex justify-content-between align-items-center font-weight-light">
  <img src="../../assets/img/nav/Logo.png" class="ml-5" alt="logo site voiture occasion">
  <ul class="d-flex">
    <li>
      <a routerLink='/users' class="d-flex flex-column align-items-center mr-5 perso">
        <img class="mb-4" src="assets/img/nav/user%20profile.svg" alt="user profile">
        Mon profil
      </a>
    </li>
    <li>

      <a routerLink='/contact' class="d-flex flex-column align-items-center mr-5 contact-link">
        <img class="mb-4" src="assets/img/nav/contact.svg" alt="contact">
        Contact
      </a>
    </li>
  </ul>
</nav>
